.App{
	margin: 6.5em 2em 2em 2em;
	margin: 0 auto;
	position: relative;
	width: 1326px;
	padding-top: 6.5em;
	button {
		color: #ffffff;
		font-size: 1.2em;
		padding: 5px 14px 5px 14px;
		background-color: #83BA63;
		border-radius: 1.2em 1.2em 1.2em 1.2em/ 1.2em 1.2em 1.2em 1.2em;
		border: none;
		height: 2em;
		width: 5em;
		position: absolute;
		top: 20px;
		left: 0;
		cursor: pointer;
	}
}
.table {
	margin: 0 auto;
	height: 683px;
	width: 1326px;
	border: 1px solid;

}
td{
		&:first-child {
				width: 5em;
			}
}

		.basket {
			display: flex;
			flex-direction: column;
			cursor: pointer;
			 img {
				width: 7.79px;
				margin: 0 auto;
			}
		}

#customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
#customers td
 {
	border: 1px solid rgb(9, 0, 0);
	height: 20px;
}

// #customers tr:nth-child(even) {
// 	background-color: #f2f2f2;
// }

// #customers tr:hover {
// 	background-color: #ddd;
// }

#customers th {
	height: 20px;
	text-align: center;
	background-color: #376B8D;
	color: white;
}